doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery/dist/jquery.min.js")
    script(src="/javascripts/jquery/dist/jquery.min.map")
    script(src="/javascripts/app.min.js")
  body
    block content
